.lorem {
  text-align: center;
  padding: 0 5rem;
  margin-top: 10rem;
  //   position: relative;
}
.lorem h2 {
  text-transform: uppercase;
  color: white;
  margin-top: 2rem;
}
.lorem p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 10px;
  color: red;
}
